

@import (inline) "google_font.css";

* { 
    font-family: 'Barlow', sans-serif;
}

// Change the default color
@primary: #ff0033;

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 70.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@navbar-default-bg: #0088b5;   // JSS blue


@brand-primary:         #0088b5; // JSS blue
//@brand-secondary:       #aee92c; // JSS green (test)
//@brand-secondary:       #f9b40c; // JSS orange (test)
@brand-secondary:       #e92c90; // JSS pink (test)
//@brand-secondary:       #2c94e9; // JSS blue (test)
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

// In general: remove round edges
@border-radius-base:  0;
@border-radius-large: 0;
@border-radius-small: 0;

// Spacing around images in 'additonal  content'
.additional_content {
	img {
		padding: 0 0 1em 1em;
	}
}

a {
    &:hover {
        color: @brand-secondary;
    }
}

a.btn {
	border-radius: 0.2em;
}



// Remove border from blocks
.pkp_block {

	// Remove color from lists (default)
	ul {
		li {
			background-color: transparent;
		}
	}

	margin: 0;
	padding: 0 0 1.5em 0;
	border: none;
	//border-bottom: 1px solid @gray-light;
	//border-top: none;
	//&:first-child {
	//	border-top: 1px solid @gray-light;
	//}

	// Animation for .title underline when hovering block
	&:hover {
		h2 {
			color: @brand-primary;
			-webkit-transition: color 300ms linear;
    			-moz-transition: color 300ms linear;
    			-o-transition: color 300ms linear;
    			-ms-transition: color 300ms linear;
                	transition: color 300ms linear;
		}
		.title {
			&::after {
				overflow: hidden;
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
	}
	

	.title {
		display:             block;
		position:            relative;
		padding:             0.2em 0;
		font-size:           1em;
		font-weight:         bold;
		color:               @gray-light;
		border:              none;
		background-color:    transparent;
		margin:              0 15px 10px 15px;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.1em;
			background-color: @brand-primary;
			//background-color: @brand-secondary;
			opacity: 0;
			overflow: hidden;
			transition: opacity 300ms, transform 300ms;
			transform: translate3d(-100%, 0, 0);
		}
	}
	
	// Content lists
	div.content {
		padding: 0 15px;
		
		ul {
			li {
				padding: 0;
				border: none;
			}
		}
	}
}

.block_web_feed {
    div.content {
        padding: 0 15px;

        ul {
            clear: both;
            li {
                float: left;
                border: none;
                padding: 0 0.3em 0 0;
            }
        }
    }
}


// ------------------ styling navbar ----------------------

// Navbar default
@navbar-default-color:               white;
@navbar-default-link-color:          white;
@navbar-default-link-hover-color:    black;
@navbar-default-link-hover-bg:       @brand-secondary;

// Hamburger; navbar toggle
@navbar-default-toggle-hover-bg:           @brand-secondary;
@navbar-default-toggle-icon-bar-bg:        white;
@navbar-default-toggle-border-color:       #ddd;


// Align left and right hand side of the page
.pkp_structure_main, .pkp_structure_sidebar {
	padding: 1.5em 0;
	.journal-description {
		margin-top: 0;
	}
}
.pkp_structure_sidebar {
	padding-left: 1em;
}

#headerNavigationContainer {
    background-size: cover;
}


header.navbar-default {
	margin-bottom: 0;
	#jss-logo {
	    padding: 0 3em;
	
	    a.navbar-brand {
	        display: none;
	        width: 80%;
	        height: 5em;
	
	        img {
	            max-width: 100%;
	        }
	
	        @media (min-width: @screen-sm-min) {
	            display: block;
	        }
	
	    }
	
	}
}

// ---------- adjusting breadcrump style ------------------

.cmp_breadcrumbs {
    ol.breadcrumb {
        background-color: transparent;
        padding-left: 0;
    }
}


/////// ---------- article styling -----------------------------
/////article.article-details {
/////    header {
/////        h1 {
/////            color: @brand-primary;
/////        }
/////    }
/////}

icon.jss-pdf {
    display: inline-block;
    position: relative;
    top: 0.15em;
    left: -0.2em;
    width: 1em;
    height: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
}

.article-details {
    .download {
        padding: 0 0 1.5em 0;
	.btn {
	    svg {
                margin-right: 0.5em;
	    }
        }
        .btn-primary {
            display: inline;
            border: 2px solid @brand-primary;
            color: @brand-primary;
            border-radius: .2em;
            background-color: transparent;

            &:hover {
                background-color: @brand-secondary;
		color: @brand-primary;
		-webkit-transition: background-color 300ms linear;
    		-moz-transition: background-color 300ms linear;
    		-o-transition: background-color 300ms linear;
    		-ms-transition: background-color 300ms linear;
                transition: background-color 300ms linear;
		color: white;
            }
        }
        .btn-default {
            display: inline;
            border: none;
            padding: 0.25 1em;
            margin: 0;
            color: @brand-primary;

            &:hover {
                color: @brand-secondary;
                background-color: transparent;
            }
        }
    }

    .article-sidebar {
	    strong {
        	font-size:           1em;
        	font-weight:         bold;
		color:               @gray-light;
        	border:              none;
        	background-color:    transparent;
        	padding:             0;
        	margin:              0 0 0.5em 0;
	}
    }
}

.article-details {
    .download-main {
        padding-top: 5em;
    }
}

.article-details {
    .date-published, .issue, .section, .doi, .keywords {
        border: none;
        padding: 0;
    }
}

.article-details {
	.list-group {
		.list-group-item {
			padding-bottom: 1.5em;
		}
	}
}

// ---------- styling the toc on the index ----------------
.current_issue {
	.page-header {
		border: none;
		padding-bottom: 0;
		margin-bottom: 0.3em;
	}
	.published {
		color: @gray-light;
		svg {
			margin: 0 0.5em;
		}
	}
}
.article-summary {
    .galley-link.btn {
        display: inline-block;
        margin-right: .5em;
        border: 2px solid @brand-primary;
        color: @brand-primary;
        border-radius: .2em;
        background-color: transparent;

        &:hover {
            	color: white;
		-webkit-transition: color 300ms linear;
    		-moz-transition: color 300ms linear;
    		-o-transition: color 300ms linear;
    		-ms-transition: color 300ms linear;
                transition: color 300ms linear;

            	background-color: @brand-secondary;
		-webkit-transition: background-color 300ms linear;
    		-moz-transition: background-color 300ms linear;
    		-o-transition: background-color 300ms linear;
    		-ms-transition: background-color 300ms linear;
                transition: background-color 300ms linear;
        }
    }
}
.article-summary {
	h3 {
		font-weight: bold;
	}
	.btn-group {
		padding: 1em 0;
	}
	.pages {
		color: @gray-light;
		text-align: right;
	}
}

// ---------- custom header block publisher ---------------
#jss-publisher {
    background-color:            black;
    padding: 0.25em 0;

    div {
        div {
            color:               white;
            font-size:          .8em;

            span {
                padding: 0 2em;
            } 
        }

        @media (max-width: @screen-md-min) {
            div:nth-child(2) {
                display: none;
            }
        }
    }
}


// ----------------- custom block publisher ---------------
#jss-announcement-list {
    ul {
        list-style: none;
        padding: 0 15px;

        li {
            padding: 0;
            margin: 0;
            border: none;
	    color: @gray-light;
	    
	    a {
		    color: @brand-primary;
		    &:hover {
			    color: @brand-secondary;
		    }

	    }
	    svg {
		    margin-right: 1em;
	    }
        }
    }

}


// ----------------- custom block jss-sponsors ------------
.pkp_block.jss-sponsors {
	img {
		max-width: 100%;
	}
}




