@jss-pink: #d00a6c;



.jss_notification{

	div{
		&:before{
			background: @jss-pink;
		}

		span{
			&.title{
				color: @jss-pink;
			}
		}
	}

}

/* Hide the buttons in workflow/reviewRound.tpl */
.jss_hidebuttons {
	.pkp_button_offset {
		line-height: 1.1em;
		margin: 0.5em 0 1em 0;
		padding: 1em 0.5em;
	}
}

